{% extends 'base_user_interface.html' %}

{% block title %} About Us {% endblock %}

{% block content %}
<div class="about-block">
    <div class="about-header">
        <h1 class="about">About Us</h1>
    </div>
    <div class="about-content">
        <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur fuga incidunt quo velit! Ea est
            illum nobis suscipit? Aliquid illo nostrum quaerat reiciendis velit. A assumenda culpa maiores numquam
            veritatis.Accusamus atque consequatur doloribus eaque eligendi eum exercitationem facere fuga laboriosam
            nesciunt nihil nobis officiis omnis quaerat quam quidem, repellendus soluta? Ad, non numquam!
            Consectetur in ipsa provident recusandae soluta!
        </p>
        <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur fuga incidunt quo velit! Ea est
            illum nobis suscipit? Aliquid illo nostrum quaerat reiciendis velit. A assumenda culpa maiores numquam
            veritatis.Accusamus atque consequatur doloribus eaque eligendi eum exercitationem facere fuga laboriosam
            nesciunt nihil nobis officiis omnis quaerat quam quidem, repellendus soluta? Ad, non numquam!
            Consectetur in ipsa provident recusandae soluta!
        </p>
        <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur fuga incidunt quo velit! Ea est
            illum nobis suscipit? Aliquid illo nostrum quaerat reiciendis velit. A assumenda culpa maiores numquam
            veritatis.Accusamus atque consequatur doloribus eaque eligendi eum exercitationem facere fuga laboriosam
            nesciunt nihil nobis officiis omnis quaerat quam quidem, repellendus soluta? Ad, non numquam!
            Consectetur in ipsa provident recusandae soluta!
        </p>
    </div>
</div>

{% endblock %}