<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div class="menu-wrap">
    <div class="menu">
        <ul class="nav">
            <li class="nav-bar"><a href="/" class="nav-bar-link">Accueil</a></li>
            <li class="nav-bar"><a href="/about" class="nav-bar-link">Apropos</a></li>
            <li class="nav-bar"><a href="/service" class="nav-bar-link">Services</a></li>
            <li class="nav-bar"><a href="/offers" class="nav-bar-link">Offres</a></li>
            <li class="nav-bar"><a href="/membership" class="nav-bar-link">Adhésion</a></li>
            <li class="nav-bar"><a href="/reservation" class="nav-bar-link">Reservation</a></li>
            <li class="nav-bar"><a href="/contact" class="nav-bar-link">Contact</a></li>
        </ul>
    </div>
</div>

{% block content %}{% endblock %}

<footer>
    <div class="footer-wrap">
        <div class="footer-menu-first">
            <ul>
                <li><a href="/about" class="footer-bar-link">About us</a></li>
                <li><a href="" class="footer-bar-link">Career</a></li>
                <li><a href="" class="footer-bar-link">FAQ</a></li>
                <li><a href="" class="footer-bar-link">Press</a></li>
            </ul>
        </div>
    </div>
</footer>

<script src="../static/js/script.js"></script>
</body>
</html>