{% extends 'base_user_interface.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="membership-header-block">
    <h1>Adhésion</h1>
</div>

<div class="membership-block">
    <div class="membership-offers">
        <div class="offer">
            <div class="offer-header">
                <h2>Carte Chauffeur</h2>
            </div>
            <div class="offer-body">
                <p>Prix par voiture : 70,00 CAD par mois. (Engagement minimum 12 mois) Offre spéciale : 1 mois gratuit à l'achat de 12 mois, 840 CAD</p>
            </div>
        </div>
        <div class="offer">
            <div class="offer-header">
                <h2>Carte noire taxi </h2>
            </div>
            <div class="offer-body">
                <p>Prix par taxi : 46 CAD par mois. (Engagement minimum 12 mois). Offre spéciale : 1 mois gratuit lorsque vous
                     acheter 12 mois à l'avance, 552 CAD</p>
            </div>
        </div>
        <div class="offer">
            <div class="offer-header">
                <h2>carte economique</h2>
            </div>
            <div class="offer-body">

                <ul>
                    <li>Prix mensuel par voiture: 25,95 CAD</li>
                    <li>Ensuite, ne payez que 3,25 CAD/4,25 CAD à chaque visite</li>
                </ul>
            </div>

        </div>
        <div class="offer">
            <div class="offer-header">
                <h2>Carte platine</h2>
            </div>
            <div class="offer-body">
                <ul>
                    <li>Prix par voiture: 52,50 CAD par mois. (Engagement minimum de 12mois)</li>
                </ul>
                <p>Offre spéciale Un mois GRATUIT lorsque vous achetez 12 mois à l'avance, 630 CAD</p>
            </div>

        </div>
        <div class="offer">
            <div class="offer-header">
                <h2>Club carte</h2>
            </div>
            <div class="offer-body">
                <ul>
                    <li>Après 12 nettoyages, obtenez un mini valet gratuit d'une valeur de 21,95 CAD</li>
                </ul>
            </div>
        </div>

    </div>
    <div class="membership-form">
    </div>

    <div class="order-header-block">
        <h1>Formulaire de commande</h1>
    </div>
    <div class="order-form-block">
        <h3>Detail:</h3>
        <form action="" method="POST">
            <input type="text" id="firstname" name="firstname" placeholder="Prenom" required>
            <input type="text" id="lastname" name="lastname" placeholder="Nom" required>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <input type="tel" id="phone" name="phone" placeholder="Téléphone" required>
            <h6>Address</h6>
            <input type="text" id="address" name="address" placeholder="Addresse" required>
            <input type="text" id="city" name="city" placeholder="Ville" required>
            <input type="text" id="postalcode" name="postalcode" placeholder="code postal" required>
            <input type="text" id="country" name="country" placeholder="Pays" required>
            <select name="gender" id="gender">
                <option value="M">M</option>
                <option value="F">F</option>
            </select>
            <h3>Options d'adhésion </h3>
            <h5>Choisir une option</h5>
            <select name="offertype" id="offertype">
                <option value="Chauffeur Card monthly">Carte Chauffeur mensuelle</option>
                <option value="Chauffeur Card yearly">Carte Chauffeur Annuelle</option>
                <option value="Black Cab Card monthly">Carte noire taxi mensuelle</option>
                <option value="Black Cab Card yearly">Carte noire taxi annuelle</option>
                <option value="Economy Card monthly">Carte économique mensuelle</option>
                <option value="Economy Card yearly">Carte économique annuelle</option>
                <option value="Platinum Card monthly">Carte platine mensuelle</option>
                <option value="Platinum Card yearly">Carte platine annuelle</option>
                <option value="Club Card monthly">Club Carte mensuelle</option>
                <option value="Club Card yearly">Club Carte annuelle</option>
            </select>
            <input type="submit" value="Order Now">
        </form>
    </div>
</div>


{% endblock %}